.welcome-brand-logo {
  max-width: 100%;
  height: auto;
  display: block;
}

.welcome-title {
  font-size: 3rem;
  line-height: 1;
  font-weight: 900;
}

.welcome-description {
  font-size: 1.125rem;
  line-height: 1.4;
}
